<div class="header">
    <div class="logo">
    <img class="ika" src="../assets/Group 80.png" alt="mp">
    <div class="ptTitle"><h1 class="titre">Espace de Travail</h1><h4>ppppp</h4></div>
    <div class="backDiv">
        <button class="back">X</button>
    </div>
    </div>
</div>
<hr>
<div class="entete">
    <button class="tBtn">Ajouter Tâche</button>
</div>
<div class="task">
    <div class="taskImg"></div>
    <div class="taskT"></div>
    <div class="itemsV"></div>
    <div class="itemsV"></div>
    <div class="itemsV"></div>
</div>
