<!-- <p>{{"le resultat" +1+1}}</p>
<p>{{superficie()}}</p> -->
<div class="container">
  <div style="float: right;">
    <img style="margin-right: 10px;"  src="../assets/delete.png" width="26px" height="26px" alt="1">
    <img style="margin-right: 5px;"  src="../assets/r.png" width="26px" height="26px" alt="1">
       
  </div>
    <h4>Tache 1 -> Projet 1</h4> <i class="fa-solid fa-trash-can"></i>
    <form id="contact-form" action="" method="post">
      <div class="input-group">
        <img style="margin-right: 10px;"  src="../assets/titre.png" width="26px" height="26px" alt="1">
        <div>
        <label for="">Titre </label> </div>
        <div style="margin-left: 33px;">
        <input type="text" id="name" name="name" style="width: 110%;" required>  </div>
    </div>
    <div class="input-group">
      <img style="margin-right: 10px;"  src="../assets/membre.png" width="26px" height="26px" alt="1">
      <div>
      <label for="">Membre </label> </div>
      <div style="margin-left: 3px;">
      <input type="text" id="name" name="name" style="width: 110%;" required>  </div>
  </div>
  <div class="input-group">
    <img style="margin-right: 10px;"  src="../assets/date.png" width="26px" height="26px" alt="1">
    <div>
    <label for="">DateEchéance </label> </div>
    <div style="margin-left: -43px;">
    <input type="date" id="name" name="name" style="width: 137%;" required>  </div>
</div>
<div class="input-group">
  <img style="margin-right: 10px;"  src="../assets/etat.png" width="26px" height="26px" alt="1">
  <div>
  <label for="">Etat </label> </div>
  <div style="margin-left: 43px;">
  <input type="text" id="name" name="name" style="width: 110%;" required>  </div>
</div>
     
      <div class="input-group">
        <img style="margin-right: 10px;"  src="../assets/desc.png" width="36px" height="26px" alt="1">
        
        <label for="message">Description:</label>
        <textarea style="height: 60px; width: 65%; margin-left: 19px;"  id="message" name="description" rows="4" required></textarea>
      </div>
      <div class="btn-envoie">
       
          <div class="input-group" style="margin-left: 10vh;">
            <button type="submit">Enregistrer</button>
          </div>
    </div>
    </form>
  </div>
