<div class="container">
    <h4>Tache 1 -> Projet 1</h4> <i class="fa-solid fa-trash-can"></i>
    <form id="contact-form" action="" method="post">
      <div class="input-group">
        <div>
        <label for="">Titre </label> </div>
        <div style="margin-left: 33px;">
        <input type="text" id="name" name="name" style="width: 122%;" required>  </div>
    </div>
      <div class="input-group">
        <label for="dateDebut">Membre</label>
        <input type="text" id="membre" name="membre" style="margin-left: 50px;" required>
      </div>
      <div class="input-group">
        <label for="dateFin">DateEchéance</label>
        <input type="date" id="dateEcheance" name="dateEcheance" style="margin-left: 5px;" required>
      </div>
      <div class="input-group">
        <label for="dateDebut">Etat</label>
        <input type="text" id="etat" name="etat" style="margin-left: 84px;" required>
      </div>
      <div class="input-group">
        <label for="message">Description:</label>
        <textarea style="height: 60px; margin-left: 19px;" id="message" name="description" rows="4" required></textarea>
      </div>
      <div class="btn-envoie">
       
          <div class="input-group" style="margin-left: 15vh;">
            <button type="submit">Enregistrer</button>
          </div>
    </div>
    </form>
  </div>

