
    <div class="header">
        <div class="logo">
        <img class="ika" src="../assets/Group 80.png" alt="mp">
        </div>
        
    </div>
    <hr>
<div>
    <div class="slogan">
        <span class="sloganG"><p class="pMarge">Un Futur Organisé, <br/> Tache apres Tache.</p><div id="cercle"></div></span>
        
        <span class="sloganP"><p class="pMarge2">Liberez votre productivité avec simplicité</p></span>
    </div>
<div class="content">
    <div class="formDiv">
        <form action="">
            <div><input  class="f" type="text" placeholder="Nom" name="nom"></div>
            <div><input type="text" placeholder="Prenom" name="prenom"></div>
            <div><input type="email" placeholder="Email" name="email"></div>
        </form>
        <div class="enregistrer">
            <a class="waves-effect waves-light btn">Inscrivez-vous, c’est gratuit</a>
        </div>
    </div>
    <img class="pubImg" src="../assets/Rectangle 39.png" alt="img null">
    
    <!--<div class="imgDiv">
            
    </div>-->
</div>
</div>
