

      <div class="container">
        <div  class="header">
    <div class="logo">
    <img class="ika" src="../assets/Group 80.png" alt="mp">
  </div>
        <div class="input-group">
            <button style="margin-left: 125vh;margin-top: 3vh; width: 75px; font-size: large;" class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Creer
              </button>
            <!-- <a  class="waves-effect waves-light btn #2B94F4 blue darken-2">Creer</a> -->
        </div>
        </div>
      </div>
        <hr>
        
          
          <!-- Modal Nouveau Projet-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau Projet</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                          <form id="contact-form" (submit)="saveProjet(pro)" action="tableau-de-bord-projet.component.html" method="post" #pro="ngForm">
                            <div class="input-group">
                              <label for="name">NomProjet:</label>
                              <input [(ngModel)]="projet.nom" type="text" id="name" name="nom" required>
                            </div>
                            <div class="input-group">
                              <label for="dateDebut">DateDebut:</label>
                              <input [(ngModel)]="projet.dateDebut" type="date" id="dateDebut" name="dateDebut" required>
                            </div>
                            
                            <div class="input-group">
                                <label for="dateFin">DateFin_Projet:</label>
                                <input [(ngModel)]="projet.dateFin" type="date" id="dateFin" name="dateFin" required>
                              </div>
                              <div class="input-group">
                                <label for="name">Membre:</label>
                                <input [(ngModel)]="projet.membre" type="text" id="membre" name="membre" required>
                              </div>
                            <div class="input-group">
                              <label for="message">Description:</label>
                              <textarea [(ngModel)]="projet.description" style="height: 60px; " id="message" name="description" rows="4" required></textarea> 
                             
                            </div>       
                <div class="modal-footerc">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>   -->
                  <div class="btn-envoie">
                    <div class="input-group" style="width: 250px;">
                      <div style="margin-top: 1px;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajouterMembre">
                         Ajouter Membre
                        </button>
                           </div>
                    </div>
                      <div class="input-group" style="margin-left: 15vh; margin-top: 1vh;">
                        <!-- <button  style="width: 90px; height: 40px; ;" *ngIf="projet.id == 0" type="submit" data-bs-dismiss="modal">Enregistrer</button>
                        <button  style="width: 90px; height: 40px; ;" *ngIf="projet.id != 0" type="submit" data-bs-dismiss="modal">Modifier</button> -->
                        <button style="width: 90px; height: 40px;" [hidden]="projet.id != 0" type="button" (click)="saveProjet(pro)"  data-bs-dismiss="modal">Enregistrer</button>
                        <button style="width: 90px; height: 40px;" [hidden]="projet.id == 0" type="button"(click)="onUpdate()"  data-bs-dismiss="modal">Modifier</button>

                      </div>
                </div>
                </div>
            </form>
          </div>
         </div>
              </div>
            </div>
          </div>
        <!-- Fin Modal -->

        <!-- Ajouter Membre -->

      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="ajouterMembre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partager le tableau</h1>
        <button type="button" routerLink="/liste-taches" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div> <h4>Membre</h4></div>
        <div class="partager">
            <div class="input-group flex-nowrap">
                <!-- <span class="input-group-text" id="addon-wrapping">Adresse email</span> -->
                <input style="width: 300px; background-color: whitesmoke; margin-left: 2vh; height: auto;"  type="text"  placeholder="Adresse email">
              </div>
       
            <div class="input-group" style="margin-left: 5vh;  height: auto;">
              <button style="margin-left: -2vh;width: 100px; " type="submit">Partager</button>
            </div>
     
        </div>
      </div>
      
    </div>
  </div>
</div>
      


                    <!-- <div class="modal-footerc">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>   
                       <div class="btn-envoie">
                        <div class="input-group" style="width: 250px;">
                         <div style="margin-top: 1px;">
                           <a style="width: 150px; height: 40px; margin-top: 1vh; " class="waves-effect waves-light btn #2B94F4 blue darken-2">Ajouter Membre</a>
                         </div>
                        </div>
                          <div class="input-group" style="margin-left: 15vh; margin-top: 1vh;">
                              <input style="width: 90px; height: 40px; ;" type="submit" value="Edit" data-bs-dismiss="modal">
                          </div>
                       </div>
                    </div> -->
            
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->

            <div class="col s3" *ngIf="projetArr.length >0" >
                <div class="projet-icon" *ngFor="let projet of projetArr">
                    <div class="projet-icon-color"> <!--Le font bleu derriere l'image -->
                       <div class="img">
                       <img routerLink="/liste-taches" (click)="setSelectedProject(projet.nom)" src="../assets/5.png" width="330px"height="188px" style="margin: 10px; border-radius: 10px;" alt="p1">
                   </div>
                   <div class="name-projet">   <!-- Le nom du projet -->
                       <div>
                        <!-- L'icone derriere le nom du projet  -->
                       <img src="../assets/dock_to_right.png" style="margin-top: -8px;height: 30px; margin-left: 7px;">
                   </div>
                   <div>
                       <h2 style="color: black;" class="text-projet">{{projet.nom}}</h2> 
                       <button type="button" class="btn btn-primary" (click)="onEdit(projet)"  data-bs-toggle="modal" data-bs-target="#exampleModal" >Editer</button>&nbsp;
                        <button type="button" style="border: none; background-color: #fff;" (click)="onDelete(projet.id)"><img src="../assets/delete.png" height="30px" alt="d" ></button>
                   </div>
                  
                   </div>
                   </div>
                  </div>
              <!-- Promo Content 3 goes here -->
            </div>
            <!-- </div> -->
            <!-- </div> -->
            
        
            
        
         
       
        
        <!-- Fin Modal -->